*{
	margin: 0;
	padding: 0;
}
body{
	background: #1a4a86;
	width: 100%;
	height: 100vh;
}
.contenedor{
	padding: 10px;
	width: 980px;
	max-width: calc(100% - 20px);
	margin: auto;
	margin-top: 50px;
	color: #fff;
	font-family: sans-serif;
}
.concursantes{
	margin-top: 20px;
	text-align: center;
	margin: auto;
	position: relative;
}
h1{
	text-align: center;
}
canvas{
	margin-top: 10px;
	position: relative;
	z-index: 1;
}
button{
	position: relative;
	padding: 10px 20px;
	font-size: 18px;
	background: #bf780f;
	color: #fff;
	border-style: none;
	z-index: 10;
	cursor: pointer;
	margin-top: 10px;
}
.mark-winner{
	position: absolute;
	clip-path: polygon(0 10px,60px 0,60px 20px);
	background: red;
	width: 60px;
	height: 20px;
	top: 50%;
	right: 18%;
	z-index: 10;
	box-shadow: 0 0 3px #33333399;
}